.apps {
  width: 100%;
  overflow-x: hidden;

  padding-right: 24px;

  &__price {
    padding: 0 10px;
  }

  &__filter {
    padding: 11px;
    border-radius: 16px;

    background: var(--card-bg);
    backdrop-filter: blur(20px);

    margin-bottom: 24px;

    display: flex;
    flex-wrap: wrap;

    * {
      color: #1d1d1d;
    }

    .range {
      display: flex;
      justify-content: space-between;
      div {
        color: var(--text);
      }
    }

    .input {
      margin: 5px;
      display: flex;
      align-items: center;

      box-shadow: inset 0px 0.5px 4px rgba(96, 97, 112, 0.32);
      background: #ebebea;
      border-radius: 8px;

      height: 40px;
      width: fit-content;

      &--slim {
        height: auto;
        padding: 3px;
      }

      svg {
        margin: 11px 19px;
      }

      input {
        background: transparent;
        font-weight: bold;
        font-size: 14px;
      }

      &__slider {
        width: 200px;
        margin: 0 5px;
        background-color: var(--btn-bg);
        .rc-slider-rail {
          background: transparent !important;
        }
        .rc-slider-track {
          background: transparent !important;
        }
        .rc-slider-handle {
          background: #000 !important;
          border-color: var(--btn-bg);
        }
      }

      &__btns-group {
        width: fit-content;
        .btn {
          font-weight: bold;
          font-size: 14px;
          padding: 7px 25px;
          margin: 4px 5px;
          border-radius: 4px;

          background: transparent;
          cursor: pointer;

          &--active {
            background: var(--btn-bg);
          }
        }
      }
    }
  }

  &__grid {
    overflow-y: auto;
    height: calc(100vh - 64px - 10px - 44px - 72px - 24px);

    width: 100%;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 24px;
  }

  @media (max-width: 1600px) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 1300px) {
    &__grid {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 1100px) {
    &__grid {
      grid-template-columns: 1fr;
    }
  }
}
