.nav {
  font-size: 16px;
  padding: 36px 32px;

  background: var(--card-bg);
  backdrop-filter: blur(20px);
  border-radius: 16px;

  &__logo {
    width: 100%;
    padding-bottom: 36px;
  }

  &__link {
    display: flex;
    align-items: center;

    width: 100%;
    padding: 12px 27px;

    text-decoration: none;

    &--active {
      background: var(--nav-active-bg);
      box-shadow: 0px 0px 1px rgba(40, 41, 61, 0.04),
        0px 2px 4px rgba(96, 97, 112, 0.16);
      border-radius: 8px;

      color: var(--nav-active-text);
    }

    svg {
      margin-right: 22px;
    }
  }
}
